<!doctype html>
<html>
<head>
    <title>My Website</title>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Satisfy" rel="stylesheet">  
    <link href="/site.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <center>
    {{{body}}}
    </center>
</body>
</html>
