<div class="mainContent">
    <div class="siteHeader">
        <h1>Product Locator</h1>
    </div>
    <form>
        <table class="mainContent">
            <tr>
                <td>
                    <button type="submit" formaction="/viewStores" class="navButton" name="ViewStores">View Stores</button>
                </td>
                <td>
                     <button type="submit" formaction="/itemSearch" class="navButton" name="itemSearch">Search for Items</button>
                </td>
            </tr>
    </table>
    </form>
</div>